*{
  margin: auto;
  padding: inherit;
  font-family: sans-serif;
}
nav{

}
main{
  width: 960px;

}
.port1{
  margin: 15px;
  padding: 15px;
  background-color: #eee;
  width: 200px;
  height: 200px;
  display: inline-grid;


}
.port2{
  margin: auto;
  padding: inherit;
  width: 200px;
  height: 200px:auto;
  display: inline-grid;


}
.port3{
  margin: auto;
  padding: inherit;
  width: 200px;
  height: 200px:auto;
  display: inline-grid;
}
.port4{
  margin: auto;
  padding: inherit;
  width: 200px;
  height: 200px:auto;
  display: inline-grid;

}
.port5{
  margin: auto;
  padding: inherit;
  width: 200px;
  height: 200px:auto;
  display: inline-grid;

}
.portlabel{
  margin: auto;
  padding: inherit;

}
nav h1{
  background-color: #777;
  float: left;

}
nav ul{
  display: inline-block;
  list-style: none;
}
aside{
  margin: auto;
  padding: inherit;

}
footer{
  margin: auto;
  padding: inherit;
  background-color: #777;
  text-align: justify;
  height: 110px;

}
